@import '../../styles/variables';
@import '../../styles/reset';
@import '../../styles/mixins';

.education {
    width: 95vw;
    padding: 2.5vw 2rem;
    display: flex;
    justify-content: space-between;
}

.education-section {
    display: flex;
    background-color: $dark-grey;
    width: 30vw;
}

.eduLogo {
    padding: 2rem 0 0 2rem;
    & svg {
        fill: $dark-gold !important;
    }
}

@media screen and (max-width: 992px) {
    .education {
        @include coln;
        align-items: center;
        width: auto;
    }

    .education-section {
        width: 95%;
        padding: 2.5% 2rem;
        border-bottom: 1rem solid white;
    }
}