@use '/src/styles/reset';

.education {
    width: 95vw;
    padding: 2.5vw 2rem;
    display: flex;
    justify-content: space-between;
    min-height: 600px;
}

.education-section {
    display: flex;
    background-color: variables.$dark-grey;
    width: 30vw;
}

.eduLogo-container {
    padding: 2rem 0 0 1rem;
    .eduLogo {
        padding: 1rem;
        border-radius: 50%;
        background-color: black;
        & svg {
            fill: variables.$dark-gold;
        }
    }
}

@media screen and (max-width: 992px) {
    .education {
        @include main_section_collapse;
    }

    .education-section {
        @include sub_section_collapse;
    }
}
