@import '../../styles/variables';
@import '../../styles/reset';
@import '../../styles/mixins';

.education {
    width: 95vw;
    padding: 2.5vw 2rem;
    display: flex;
    justify-content: space-between;
}

.education-section {
    background-color: $dark-grey;
}