//@use '/src/styles/reset';

.project-wrap {
    display: flex;
    justify-content: space-between;
    background-color: variables.$dark-grey;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    div {
        padding-bottom: 1rem;
    }
    a {
        color: white;
    }
    .project-details {
        padding-right: 1rem;
    }
    margin: 1.5rem 0rem;
}

.project-title {
    text-decoration: underline;
    font-size: larger;
}

img {
    border-radius: 50%;
    border: 2pt;
    height: 5rem;
    width: auto;
}

@media screen and (max-width: 768px) {
    .project-wrap {
        @include main_section_collapse;
        width: 70vw;
        .project-details {
            padding-right: 0;
        }
    }
}