@import '../../../styles/variables.scss';

.bullet {
    padding: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;

    &:hover {
        color: white;
        background-color: black;
    }
}