@use '/src/styles/variables.scss';

.bullet-text {
    width: 14vw;
    padding: 30px 3vw;
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
    color: black;
}

.bullet-text:hover, .active .bullet-text{
    color: white;
    background-color: black;
    text-decoration: underline;
}

.bullet-description {
    display: none;
}

.active .bullet-description {
    display: block !important;
}

// @media screen and (max-width: 768px) {
//     .bullet-text {
//         padding: 0px 30px;
//     }
// }