@import '../../../styles/mixins';

.Home-bottom-section {
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;
    height: 90px;
    font-family: 'Rubik', sans-serif;
    font-size: x-large;
    color: white;
    background-color: black;
    width: 30vw;
    padding: 2rem;
}

.bulletCentre-wrap {
    @include coln;

    &.Home-bottom-section-left {
        text-align: left;
        align-items: flex-start;
    }
    
    &.Home-bottom-section-right {
        text-align: right;
        align-items: flex-end;
    }
}

.bulletCentre-el1 {
    display: none;
}

@media screen and (max-width: 992px) {
    .bulletCentre-el2 .Home-bottom-section {
        font-size: large;
    }
}

@media screen and (max-width: 768px) {
    .Home-bottom-section {
        width: 100%;
    }

    .bulletCentre-el2 .Home-bottom-section {
        font-size: x-large;
    }
    
    .bulletCentre-wrap {
    
        &.Home-bottom-section-left {
            padding-right: 5%;
            width: 95%;
        }

        &.Home-bottom-section-right {
            padding-left: 5%;
            width: 95%;
        }
    }

    .bulletCentre-top {
        @include coln;
        width: 100%
    }

    .Home-bottom-section-right .bulletCentre-top .bulletCentre-el1 {
            text-align: left;
            align-items: flex-end;
    }

    .bulletCentre-el1 {
        display: block;
        width: 28%;
        text-align: right;
        font-family: 'Rubik', sans-serif;
        font-size: x-large;
        color: white;
        background-color: black;
        padding: 2%;
    }

    .bulletCentre-el2 {
        width: 64%;
        padding: 2%;
    }
    
    .Home-bottom-section-left .bulletCentre-top .bulletCentre-el1 {
        align-self: flex-start;
        width: 28%;
    }

    .Home-bottom-section-left .bulletCentre-top .bulletCentre-el2 {
        align-self: flex-end;
        width: 68%;
    }

    .Home-bottom-section-right .bulletCentre-top .bulletCentre-el1 {
        align-self: flex-end;
        width: 28%;
    }

    .Home-bottom-section-right .bulletCentre-top .bulletCentre-el2 {
        align-self: flex-start;
        width: 68%;
    }
}