.animateThis {
    position: relative;
    left: -1em;
    opacity: 0;
    animation: move-text 0.8s forwards;
}
  
@keyframes move-text {
    0% {
        left: -0.2em;
        opacity: 0;
    }

    50% {
        left: -0.1em;
        opacity: 0.5;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}