@import '../../../styles/variables';
@import '../../../styles/reset';
@import '../../../styles/mixins';

.professional-card {
    @include coln;
    justify-content: space-around;
    background-color: $dark-grey;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 2rem;
    font-size: large;
}

.professional-line {
    padding: 1rem;
    text-align: center;
}

.professional-character {
    font-size: xx-large;
}

.professional-character .blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.professional-character .spacing {
    // position: absolute;
    // top: calc(50% - 21px);
    left: 0;
    opacity: 0;
    animation: in 3s ease-out forwards infinite;
    animation-delay: 1s;
}

@keyframes in{
    0%{
    letter-spacing: -17px;
    opacity: 0;
    }
    30%{
    letter-spacing: 4px;
    opacity: 1;
    }
    100%{
    letter-spacing: 4px;
    opacity: 1;
    }
}