@import '../../../styles/variables';
@import '../../../styles/reset';
@import '../../../styles/mixins';

.professional-card {
    background-color: $dark-grey;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 2rem;
    font-size: large;
    width: 27%;
}

.professional-card-top {
    height: 150px;
}

.professional-line {
    padding: 1rem;
    text-align: center;
}

.professional-character {
    font-size: xx-large;
}

.professional-header {
    color: $dark-gold;
}

.professional-summary {
    text-align: left;
}

.professional-header,.professional-summary {
    font-size: x-large;
    background-color: black;
}

.professional-character .hop {
    position: relative;
    display: inline-block;
    animation: flip 5s ease infinite;
    font-size: xxx-large;
}
@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg);
    }
}

.professional-character .blink {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.professional-character .spacing {
    // position: absolute;
    // top: calc(50% - 21px);
    left: 0;
    opacity: 0;
    animation: in 5s ease-out forwards infinite;
    animation-delay: 1s;
}

@keyframes in{
    0% {
        letter-spacing: -17px;
        opacity: 0;
    }
    30% {
        letter-spacing: 4px;
        opacity: 1;
    }
    100% {
        letter-spacing: 4px;
        opacity: 1;
    }
}

.professional-list {
    text-align: left;
    padding: 1rem 0;
    line-height: 1.5;
    border-bottom: 1px solid white;

    &:last-child {
        border: none;
    }
}

.cardList-line {
    display: flex;
    justify-content: space-between;
}

ul li {
    font-size: medium;
}
