@use '/src/styles/reset';

.Home {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.Home-logo {
    @include coln;
    align-items: center;
}

.Home-top {
    display: flex;
    width: 90vw;
    align-items: center;
}

.col-home-2 {
    width: 60vw;
    font-family: 'Rubik', sans-serif;
}

.home-tech, .home-value {
    font-size: larger;
    padding: 1rem 1rem;
    li {
        padding-bottom: 0.5rem
    }
}

.col-home-1, .col-home-3 {
    @include coln;
    align-items: flex-start;
    height: variables.$home_height - 500px;
    height: 100%;
    width: 20vw;
    cursor: pointer;
}

.bullets-left {
    text-align: right;
    align-self: flex-end;
    width: 100%;
}

.bullets-right {
    text-align: left;
    align-self: flex-start;
    width: 100%;
}

.bullets-left, .bullets-right {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.home-bottom {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#svgGear {
    animation: rotateThis 10s infinite;
}

@keyframes rotateThis {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#svgConsolePlus {
    color: variables.$dark-gold;
}
    
#svgStack, #svgGrowthChart {
    color: variables.$dark-gold;
}

@media screen and (max-width: 768px) {
    .Home {
        @include coln;
    }

    .Home-top {
        @include coln;
    }

    .col-home-2 {
        width: 100vw;
    }

    .Home-bottom {
        width: 100%;
    }

    .col-home-1, .col-home-3 {
        display: none;
    }
}

