
.tag-wrapper {
    color: black;
    font-size: 1.2rem;
    padding-bottom: 2rem;
    :last-child {
        padding-bottom: 0;
    }
}

.tag-wrapper div {
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
}

.svg-wrapper {
    background-color: variables.$dark-grey;
    border-radius: 50%;
    text-align: center;
    margin-right: 1rem;

    svg {
        width: 3rem;
        height: auto;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        fill: variables.$dark-gold;
    }
}

@media screen and (max-width: 768px) {
    .tag-item-wrapper {
        @include main_section_collapse;
        .tag {
            text-align: center;
            padding-top: 0.5rem;
            width: 70vw;
        }
    }
}
