@import '../../../styles/variables';
@import '../../../styles/reset';

.app-footer {
    font-family: 'Rubik', sans-serif;
}

.footer-row-top {
    padding: 0px 20px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.footer-row-top svg {
    fill: black !important;
    padding: 0px 20px;
}

.footer-row-bottom {
    padding: 20px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

a, span {
    color: white;
    text-decoration: none;
    padding-top: 8px;
}

.footer-section {
    padding-right: 20px;
}

svg {
    fill: #fff !important;
    padding-right: 7px;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .footer-section {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    
    .footer-section:first-child {
        padding-top: 0px;
    }

    .footer-section:last-child {
        border-bottom: 0px;
    }
}