@import '../../../styles/variables';
@import '../../../styles/reset';

.app-footer {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
}

.footer-row-top {
    padding: 0vw 2.5vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.footer-row-top a {
    display: flex;
    flex-direction: column;
}

#steam {
    position: relative;
    bottom: -1em;
    opacity: 0;
}

.footer-row-top svg {
    fill: black;
    // padding: 0px 20px;
    align-self: flex-end;
}

.coffee:hover {
    #steam {
        // fill: white;
        animation: coffee-steam 0.8s forwards;
            
        @keyframes coffee-steam {
            0% {
                bottom: -2em;
                opacity: 0;
            }
        
            50% {
                bottom: -1em;
                opacity: 0.3;
            }
        
            100% {
                bottom: 0;
                opacity: 0.4;
            }
        }
    }
}

.footer-row-top .coffee:hover :nth-child(1) {
    fill: black !important;
    cursor: pointer;
}

.footer-row-bottom {
    padding: 2rem 0rem;
    // padding-right: 0px;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.contact-me a {
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

// .footer-section {
    // padding-right: 20px;
// }

svg {
    fill: #fff;
    padding-right: 1rem;
}

.up-arrow {
    align-self: flex-end;
    transition: all 0.3s ease-out;
    cursor: pointer;

    &:hover{
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .footer-section {
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }
    
    .footer-section:first-child {
        padding-top: 0;
    }

    .footer-section:last-child {
        border-bottom: 0;
    }
}