@import '../../../styles/variables';
@import '../../../styles/reset';

.app-footer {
    font-family: 'Rubik', sans-serif;
    width: 100vw;
}

.footer-row-top {
    padding: 0vw 2.5vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.footer-row-top div {
    display: flex;
    flex-direction: column;
}

#steam {
    position: relative;
    bottom: 0;
    opacity: 0;
}

.footer-row-top svg {
    fill: $dark-grey;
    align-self: flex-end;
}

.coffee:hover {
    #steam {
        animation: coffee-steam 0.85s forwards;
            
        @keyframes coffee-steam {
            0% {
                bottom: -2em;
                opacity: 0;
            }
        
            50% {
                bottom: -1em;
                opacity: 0.3;
            }
        
            100% {
                bottom: 0;
                opacity: 0.4;
            }
        }
    }
}

.footer-row-top .coffee:hover :nth-child(1) {
    fill: black !important;
    cursor: pointer;
}

.footer-row-bottom {
    padding: 2rem 0rem;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    //align-items: baseline;
    //justify-content: flex-end;
    .gh-icon {
        padding-left: 1.75rem;
    }
}

.contact-me {
    display: flex;
    a {
        color: white;
        text-decoration: none;
        padding-right: 2rem;
    }
}

svg {
    fill: #fff;
    padding-right: 1rem;
}

.up-arrow {
    align-self: flex-end;
    transition: all 0.3s ease-out;
    cursor: pointer;

    &:hover{
        padding-bottom: 1rem;
    }
}

#tQ-logo {
    align-self: flex-end;
    margin-bottom: -31px;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .footer-section {
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }
    
    .footer-section:first-child {
        padding-top: 0;
    }

    .footer-section:last-child {
        border-bottom: 0;
    }
}
