@import '../../../styles/variables';
@import '../../../styles/reset';
@import '../../../styles/mixins';

.eduSection {
    background-color: $dark-grey;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 2rem;
    font-size: large;
}

.eduSection div {
    padding-bottom: 1rem;
}

.professional-character {
    font-size: xx-large;
}

.eduSection-summary {
    line-height: 1.5;
}

.eduSection-top {
    min-height: 150px;
}

.eduSection-header {
    font-size: x-large;
}

.eduSection-header span {
    animation-delay: 0.2s;
}


.eduSection-institution span {
    animation-delay: 0.4s;
}

.eduSection-cert {
    font-size: medium;
}

.eduSection-timespan span {
    animation-delay: 0.6s;
}


.eduSection-summary span {
    animation-delay: 0.8s;
}