@import '../../../styles/variables';
@import '../../../styles/reset';
@import '../../../styles/mixins';

.eduSection {
    @include coln;
    justify-content: space-around;
    background-color: $dark-grey;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 2rem;
    font-size: large;
}

.eduSection div {
    padding-bottom: 1rem;
}

.professional-character {
    font-size: xx-large;
}

.eduSection-summary {
    line-height: 1.5;
}