.home-graphic svg {
    width: 3rem;
    height: auto;
}

.home-graphic {
    padding-right: 0px;
}

.home-title {
    width: 100vw;
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 2rem 0rem;
}
