@import '../../styles/variables';
@import '../../styles/reset';
@import '../../styles/mixins';

.professional {
    width: 95vw;
    padding: 2.5vw 2rem;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 992px) {
    .professional {
        @include coln;
    }

    .professional-card {
        border-bottom: 1rem solid white;
    }
}
